//NAVIGATION
body {
  // overflow: hidden;
  background-color: var(--bg);
}
header {
  z-index: 10;
  position: fixed;
  width: 100%;
  opacity: 0.95;
  background-color: var(--bg-panel);
  padding: 1.2rem 5vw;
  transition: all 0.2s ease-in-out;
  border-bottom: 1px solid rgba(var(--color-text-rgb), 0.1);
  &.open {
    @media only screen and (max-width: 991px) {
      height: 100vh;
      opacity: 1;
      border-bottom: 1px solid rgba(var(--color-text-rgb), 0);
    }
  }
  .navigation {
    font-size: 1.4rem;
    font-weight: 600;
    @media only screen and (max-width: 991px) {
    }
    .navigation__list {
      display: flex;
      flex-direction: row;
      @media only screen and (max-width: 991px) {
        flex-direction: column;
        align-items: center;
      }
      .hamburger {
        cursor: pointer;
        display: none;
        @media only screen and (max-width: 991px) {
          display: block;
        }
      }

      .nav__menu {
        @media only screen and (max-width: 991px) {
          display: none;
        }
      }
      .navigation__item {
        &.menu-item {
          @media only screen and (max-width: 991px) {
            width: 100%;
            text-align: center;
          }
        }

        a {
          cursor: pointer;
        }
        &:first-of-type {
          @media only screen and (max-width: 991px) {
            align-self: flex-end;
          }
        }
        &.active ~ li {
          display: block;
        }
        &:not(:nth-of-type(-n + 2)) {
          margin-left: 3rem;
          @media only screen and (max-width: 991px) {
            margin-left: 0;
          }
        }
        &:nth-of-type(2) {
          margin-right: auto;
          @media only screen and (max-width: 991px) {
            margin-right: 0;
          }
        }
        transition: 0.2s;
        @media only screen and (max-width: 991px) {
          &:not(:nth-of-type(1)) {
            margin-bottom: 1rem;
          }
          &:last-of-type {
            margin-bottom: 0;
          }
          &:not(:first-of-type) {
            position: relative;
            display: none;
            left: -100%;
            transition: all 0.4s ease-in-out;
            &.animate {
              left: 0;
            }
          }
        }

        a:hover {
          color: var(--color-headings);
        }
      }
    }
  }
}

header.hide {
  transform: translateY(-80px);
}
section {
  scroll-margin: 100px;
  padding: 0 40px;
  margin-bottom: 50px;
  transition: all 0.2s;
  background-color: var(--bg);
  width: 100%;
  @media only screen and (max-width: 767px) {
    padding: 0 24px;
  }
}

//section home
section.home {
  height: 100vh;
  background-color: var(--bg);
  display: flex;
  .intro-box {
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    @media only screen and (max-width: 767px) {
      align-items: center;
    }
    .intro {
      font-size: 4.5rem;
      font-weight: 700;
      margin-bottom: 3rem;
      @media only screen and (max-width: 767px) {
        font-size: 3.2rem;
        margin-bottom: 2.2rem;
        text-align: center;
      }
      .text-image {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        @media only screen and (max-width: 767px) {
          justify-content: center;
        }
        span {
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
      .hand {
        height: 70px;
        display: inline-block;
        img {
          height: 100%;
        }
      }
      .title {
        color: var(--color-headings);
      }
    }
    .button-wrapper {
      min-height: 65px;
      position: relative;
      color: var(--color-text-button);
      @media only screen and (max-width: 991px) {
        min-height: 45px;
      }
      .button {
        align-items: center;
        &:hover {
          background-color: transparent;
          transform: scale(1.05);
          color: var(--color-headings);
        }
        &.floating {
          justify-content: center;
          display: flex;
          position: fixed;
          z-index: 10;
          right: 0;
          bottom: 0;
          margin-right: 5vw;
          margin-bottom: 5vh;
          width: 5rem;
          height: 5rem;
          border-radius: 300px;
          padding: 0;
          transition: color, background-color, margin-right 0.2s;
          @media only screen and (max-width: 991px) {
            margin-right: 2vw;
            margin-bottom: 2vw;
            width: 4rem;
            height: 4rem;
          }
          .text {
            display: none;
          }
        }
      }
    }
  }
  .home__social {
    height: 10%;
    .home__social-list {
      .home__social-item {
        margin-right: 2rem;
        display: inline-block;
        transition: all 0.15s ease-in-out;
        &:hover {
          transform: scale(1.15);
        }
        i {
          font-size: 2rem;
          font-weight: 900;
        }
      }
    }
  }
}

section.about {
  .content {
    display: flex;
    justify-content: space-between;
    @media only screen and (max-width: 767px) {
      flex-direction: column-reverse;
    }
  }
  .left {
    width: 65%;
    padding-right: 2rem;
    @media only screen and (max-width: 767px) {
      width: 100%;
      padding: 0;
    }
    .a22-link {
      text-decoration: underline;
    }
  }
  .right {
    display: flex;
    justify-content: center;
    position: relative;
    padding: 0 20px;
    @media only screen and (max-width: 767px) {
      margin-bottom: 2rem;
      padding: 0;
    }
    img {
      max-height: 250px;
      width: 100%;
      max-width: 250px;
      border-radius: 16px;
      box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
      -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
      filter: grayscale(100%);
    }
  }
}

//icon-coloring
.container-icons {
  .html-icon {
    color: #e44d26;
  }
  .css-icon {
    color: #2965f1;
  }
  .js-icon {
    color: #f0d34b;
  }
  .react-icon {
    color: #5ccfee;
  }
  .git-icon {
    color: #e74b26;
  }
  .bootstrap-icon {
    color: #7e12f0;
  }
}

section.experience {
  .container {
    .card {
      .content {
        display: flex;
        align-items: center;
        @media only screen and (max-width: 767px) {
          flex-direction: column-reverse;
        }
        .left {
          display: flex;
          justify-content: center;
          width: 55%;
          transition: all 0.2s;
          height: 350px;
          overflow: hidden;
          border-radius: 8px;
          text-align: center;
          background-color: #fff;
          box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;

          @media only screen and (max-width: 767px) {
            padding: 0;
            width: 100%;
            height: auto;
            aspect-ratio: 3 / 2;
          }

          img {
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            height: 100%;
            transition: all 0.2s;
          }
        }
        &:nth-of-type(odd) .left {
          &:hover img {
            transform: rotate(9deg) scale(1.15);
          }
        }
        &:nth-of-type(even) .left {
          &:hover img {
            transform: rotate(-8deg) scale(1.15);
          }
        }

        &:nth-of-type(odd) .left img {
          transform: rotate(9deg) scale(1.1);
        }
        &:nth-of-type(even) .left img {
          transform: rotate(-8deg) scale(1.1);
        }

        .right {
          width: 45%;
          padding-left: 30px;
          @media only screen and (max-width: 767px) {
            width: 100%;
            margin-bottom: 1rem;
            padding: 0;
          }
          .project-title {
            margin-bottom: 12px;
          }
          .project-description {
            margin-bottom: 10px;
            font-size: 1.1rem;
            line-height: 1.6rem;
            span {
              color: var(--color-headings);
              text-decoration: underline;
            }
          }
          .container-icons {
            font-size: 1.6rem;
            margin-bottom: 8px;
            display: flex;
            align-items: center;
            & > i {
              margin-right: 10px;
            }
            .firebase-icon {
              display: inline-block;
              height: 30px;
              margin-left: -5px;
              img {
                height: 100%;
              }
            }
          }
          .container-buttons {
            & > div {
              margin-bottom: 6px;
              @media only screen and (max-width: 767px) {
                display: inline-block;
                margin-right: 0.5rem;
              }
              .button {
                display: inline-block;
              }
            }
          }
        }
      }
    }
  }
}

section.skills {
  .content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .skill-container {
      @media only screen and (max-width: 767px) {
        width: 25%;
        margin-bottom: 1rem;
      }
      &.custom {
        display: flex;
        flex-direction: column;
        align-items: center;
        img {
          height: 48px;
        }
      }
      text-align: center;
      i {
        font-size: 3rem;
      }
      img {
        &.jquery-img {
          height: 3rem;
        }
        &.sass-img {
          height: 3rem;
        }
      }
      .skill-title {
        margin-top: 5px;
        font-size: 1rem;
        display: block;
      }
    }
  }
}

//contact form
section.form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.form-container {
  margin: 100px auto 0;
  width: 60%;
  max-width: 1920px;
  display: flex;
  justify-content: center;
}

form {
  width: 100%;
  max-width: 992px;
  margin: auto;
}

form * {
  font-size: 1.2rem;
  cursor: pointer;
  text-decoration: none;
  @media only screen and (max-width: 767px) {
    font-size: 1rem;
  }
}

form .field {
  position: relative;
  margin-bottom: 15px;
  input {
    border-radius: 9999px;
    outline: none;
  }
}

form .field label {
  position: absolute;
  top: 0;
  left: 0;
  background: var(--color-headings);
  width: 100%;
  transition: width 300ms ease-in-out;
  text-align: center;
  padding: 18px 0;
  color: #fff;
  @media only screen and (max-width: 767px) {
    padding: 12px;
  }
}

form .field input[type='text'],
form .field input[type='email'],
form .field textarea {
  border: none;
  width: 100%;
  height: 64px;
  margin: 0;
  padding-left: 20%;
  font-family: 'Poppins', sans-serif;
  color: #333333;
  &::placeholder {
    color: transparent;
  }
  @media only screen and (max-width: 767px) {
    height: 45px;
  }
  @media only screen and (max-width: 599px) {
    height: 45px;
    padding-left: 8%;
    &::placeholder {
      color: #333333;
    }
  }
}

form #msg {
  height: 64px;
  resize: none;
  transition: all 300ms ease-in-out;
  padding-top: 18px;
  @media only screen and (max-width: 767px) {
    height: 45px;
  }
}
form textarea:focus#msg {
  height: 166px;
  outline: none;
}
form input[type='text']:focus + label,
form input[type='text']:not(:placeholder-shown) + label,
form textarea:focus + label,
form textarea:not(:placeholder-shown) + label,
form .field input[type='email']:focus + label,
form .field input[type='email']:not(:placeholder-shown) + label,
form .field:hover label {
  width: 18%;
  @media only screen and (max-width: 599px) {
    display: none;
  }
}
form input[type='text']:focus + label {
  @media only screen and (max-width: 599px) {
    &::placeholder::before {
      content: 'Name';
    }
  }
}

form input[type='submit'] {
  background-color: var(--color-headings);
  transition: all 0.2s;
}

//intro hexagon
.hexagon {
  z-index: 20;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: $main-text;
  opacity: 1;
  .gt {
    position: absolute;
    transform: translate(-50%, -50%);
    font-family: 'Racing Sans one', cursive;
    font-size: 2rem;
    left: 50%;
    top: 50%;
    opacity: 0;
    color: transparent;
    animation: loadGT 4s 0.4s forwards;
  }

  &.close {
    top: -100%;
    opacity: 0;
    transition: all 0.9s;
  }
  div {
    position: absolute;
    width: 90px;
    height: 51px;
  }

  div:nth-of-type(2) {
    transform: rotate(60deg);
  }
  div:nth-of-type(3) {
    transform: rotate(-60deg);
  }

  div div {
    width: 100%;
    height: 100%;
    position: relative;
  }

  div div span {
    position: absolute;
    width: 4px;
    height: 0;
    background: var(--color-headings);
    z-index: 999999;
  }

  .h1 {
    left: 0;
    animation: load1 4s 0.4s forwards;
  }
  .h2 {
    right: 0;
    animation: load2 4s 0.8s forwards;
  }
  .h3 {
    right: 0;
    animation: load3 4s 1.2s forwards;
  }
  .h4 {
    right: 0;
    animation: load4 4s 1.6s forwards;
  }
  .h5 {
    left: 0;
    animation: load5 4s 2s forwards;
  }
  .h6 {
    left: 0;
    animation: load6 4s 2.4s forwards;
  }

  @keyframes loadGT {
    0% {
      color: var(--bg);
      opacity: 0;
    }
    50% {
      color: var(--color-headings);
      opacity: 0.8;
    }
    100% {
      opacity: 1;
      color: #fff;
    }
  }

  @keyframes load1 {
    0% {
      bottom: 0;
      height: 0;
    }
    10% {
      bottom: 0%;
      height: 100%;
    }
    100% {
      bottom: 0;
      height: 100%;
    }
    /*   91.6666667%{top:0;height:0%;} */
  }

  @keyframes load2 {
    0% {
      top: 0;
      height: 0;
    }
    10% {
      top: 0;
      height: 100%;
    }
    100% {
      bottom: 0;
      height: 100%;
    }
    /*   91.6666667%{bottom:0;height:0%} */
  }

  @keyframes load3 {
    0% {
      top: 0;
      height: 0;
    }
    10% {
      top: 0;
      height: 100%;
    }
    100% {
      bottom: 0;
      height: 100%;
    }
    /*   91.6666667%{bottom:0;height:0%;} */
  }

  @keyframes load4 {
    0% {
      top: 0;
      height: 0;
    }
    10% {
      top: 0;
      height: 100%;
    }
    100% {
      bottom: 0;
      height: 100%;
    }
    /*   91.6666667%{bottom:0;height:0%;} */
  }

  @keyframes load5 {
    0% {
      bottom: 0;
      height: 0;
    }
    10% {
      bottom: 0;
      height: 100%;
    }
    100% {
      bottom: 0;
      height: 100%;
    }
    /*   91.6666667%{top:0;height:0%;} */
  }

  @keyframes load6 {
    0% {
      bottom: 0;
      height: 0;
    }
    10% {
      bottom: 0;
      height: 100%;
    }
    100% {
      bottom: 0;
      height: 100%;
    }

    /*   91.6666667%{top:0;height:0%;} */
  }
}

footer {
  .footer-text {
    padding-bottom: 1.2rem;
    font-size: 1rem;
    text-align: center;
    @media only screen and (max-width: 767px) {
      font-size: 0.8rem;
    }
  }
}
