// @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&family=Racing+Sans+One&display=swap');

$white-color: #efefef;
$main-text: #363636;
$main-color: #228c22;

$main-background-color: #e4e4e4;
